<%- include('header') -%>
  <%= Math.random() + "Index.ejs"%>
  <%# <!-- use %- escape the attribute --> %>
  <%# content is passed in from server.js %>
  <div id="root"><%- content -%></div>
<%- include('footer') -%>



  